{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Annuaire{% endblock %}

{% block content %}
<div class="container">
    <h2>Annuaire des familles</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Famille</th>
                <th>Contact</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            {% for famille in familles %}
            <tr>
                <td>{{famille.username}}</td>
                <td><a href="mailto:{{famille.email}}"> {{famille.email}} </a></td>
                <td>{{famille.points}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}