{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Commission{% endblock %}

{% block content %}

<div class="container">
    <table class='table'>
        <tr>
            <th>Commisions</th>
            <th>Composition</th>
            <th>Contact</th>
        </tr>
        <tr>
            <td>Présidente</td>
            <td>Mélisande BLEIN-NICOLAS</td>
            <td><a href="mailto:xxxx@xxx.xx">  xxxx@xxx.xx</a></td>
        </tr>
        <tr>
            <td>Vice-Présidente</td>
            <td>Sandrine BOISTEAU-ORFILA</td>
            <td><a href="mailto:xxxx@xxx.xx"> xxxx@xxx.xx </a></td>
        </tr>
        <tr>
            <td>Trésorière</td>
            <td>Sophie TRAN-POISSON</td>
            <td><a href="mailto:xxxx@xxx.xx"> xxxx@xxx.xx </a></td>
        </tr>
        <tr>
            <td>Secrétaire - Coordination visites d'accueil</td>
            <td>Catherine BOUSSUGE</td>
            <td><a href="mailto:xxxx@xxx.xx"> xxxx@xxx.xx </a></td>
        </tr>
        <tr>
            <td>Fêtes</td>
            <td>
                <ul class="list-unstyled">
                    <li>Céline CARTERON</li>
                    <li>Clélie NAVARO    </li>
                    <li>Marijt VAN VOORST </li>
                </ul>
                </td>
            <td><a href="mailto:xxxx@xxx.xx"> xxxx@xxx.xx </a></td>
        </tr>
        <tr>
            <td>Internet - Gestion des points - Annuaire</td>
            <td>Catherine BOUSSUGE</td>
            <td><a href="mailto:xxxx@xxx.xx"> xxxx@xxx.xx </a></td>
        </tr>
    </table>
</div>
{% endblock content %}