{% extends '_base.html' %}

{% block title %}Déclaration de garde{% endblock %}

{% block css %}
  {% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  {{ form.media }}
{% endblock css%}

{% block content %} 
  <div class="container">
  <h5> Déclaration de la garde:</h5>
    {% comment %} <div class="col-md-3 text-center"> {% endcomment %}
    {% comment %} <div class="mx-auto my-auto" text-center> {% endcomment %}
      <form method="post">{% csrf_token %}
        {% bootstrap_form form   layout='horizontal'%}
        {% buttons %}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        {% endbuttons %}
      </form>
    {% comment %} </div> {% endcomment %}
  </div>
{% endblock content %} 
