{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<h1>Présentation</h1>
<div class="jumbotron">
    <p>Si vous habitez Palaiseau, en adhérant à La Ronde des Familles, pour une adhésion annuelle de 25 € , vous pourrez
        faire garder vos enfants un soir, une après-midi, une nuit,... par une famille de l'association. Seule
        contrepartie : accepter à votre tour, en fonction de vos disponibilités, à l'occasion, de garder les enfants
        d'une autre famille. Les enfants sont gardés par des parents et ont l'occasion de se faire de nouveaux copains.
        Les gardes sont gratuites et sont gérées par un système de points. En adhérant à l'association, vous et vos
        enfants ferez rapidement connaissance d'autres familles, via les gardes et les fêtes auxquelles vous pourrez
        participer.
    </p>
</div>
<hr>
<div class="jumbotron">
    La cotisation à l'association est de 25 € par an et par famille.
    Les familles intéressées par l'association peuvent remplir le formulaire de la rubrique "Devenir membre". Une
    rencontre est alors organisée entre un ou deux membres de l'association et la famille intéressée. Cette visite
    permet de mieux connaître l'association et répondre à toutes les questions avant d'adhérer. En adhérant, la famille
    accepte le règlement (ci-dessous) et prend progressivement part à la vie de l'association.
    L'association est gérée bénévolement par ses membres. Le bon fonctionnement de l'ensemble s'appuie sur la
    responsabilité individuelle et l'entraide.
    Un événement est organisé par saison pour favoriser les rencontres entre les familles : fête des enfants à
    l'automne, galette ou carnaval en début d'année, AG au printemps et pique-nique en juin. La participation aux fêtes
    favorise les rencontres entre parents et enfants et facilite l'intégration dans l'association.
</div>
<ul class="list-group">
    <li class="list-group-item">
        Vous voulez sortir sans vos enfants, tel jour de telle heure à telle heure (si possible, s'y prendre quelques
        jours à l'avance pour faciliter les recherches de famille).
    </li>
    <li class="list-group-item"> consultez la liste des familles sur le site internet qui vous donne le nom des
        familles, par ordre décroissant, redevable à la collectivité du plus grand nombre de points.
        L'annuaire des familles inscrites vous sera remis dès l'acceptation de votre inscription.
    </li>
    <li class="list-group-item">
        Attendez-vous à une demande réciproque à partir d'un solde de points négatif d'au moins 100 points.
    </li>
</ul>
<!-- <img src="{% static 'images/falconx.png' %}" class="img-fluid" alt="FalconX launch"/> -->
{% endblock content %}