/* thead.thead-dark
{
    background-color:rgb(69, 179, 36);
} */


.bg {
    /* The image used */
    /* background-image: url("https://mdbootstrap.com/img/Photos/Others/images/91.jpg"); */
    background: url("../images/milky-way.jpg") no-repeat 50% 50% fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    padding-top: 100px;
    /* background-color: rgb(241, 236, 245); */
    /* background: linear-gradient(#e7f09dfb, #ecb8d5);    Full height */
    /* background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);    /* height: 100%; */
    /* background-repeat: repeat; */
    /* Center and scale the image nicely */
  /* Full height */
    /* height: 100%;  */

    /* Center and scale the image nicely */
    /* background-position: center;
    background-repeat: repeat;
    background-size: cover; */
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
  }